@using Newtonsoft.Json
@using ep_models;
@model PredictionModel;

@{    
    ViewData["Title"] = "Result";
}


<h1 class="display-4">Result</h1>

<textarea rows="30" cols="100">
    @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented, new Newtonsoft.Json.Converters.StringEnumConverter()))
</textarea>
