################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ep-service/bin/Debug
/ep-service/obj
/ep-service.OnlineTests/bin/Debug/net8.0
/ep-service.OnlineTests/obj
/ep-service/bin/Release
/ep-service.OnlineTests/bin/Release/net8.0
/ep-service.OnlineUserTests/bin
/ep-service.OnlineUserTests/obj
/ep-service.OnlineUserTests/.vs/ep-service.OnlineTests
/ep_api/bin/Debug/net8.0
/ep_api/obj
/ep_api/Properties/ServiceDependencies
/ep_api/bin/Debug/net6.0
