################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ep-service/bin/Debug
/ep-service/obj
/ep-service.OnlineTests/bin/Debug/net8.0
/ep-service.OnlineTests/obj
